<!DOCTYPE html>
<html>
<head>
  <title>Nerds on Call Inventory Tracker</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="all">
        <div id="header">
            <h1><span class="intro">Nerds on Call</span> <span class="branding">Inventory Tracker</span></h1>
            <p class="sample">Alpha Build</p>
        </div>
        <div id="content">
            <% if alerted = alert %>
                <p id="alert"><%= alerted %></p>
            <% end %>
            <%= yield %>
        </div>
    <div id="foot">
      <div class="logo">
        <a href="http://www.callnerds.com"><img src="/images/logo.png"></a>
      </div>
      <div class="copyright">
      <p>
        Running on <a href="http://www.rubyonrails.org">Rails</a><br>
        Ruby is the Language of the Cloud.<br>
        Copyright © Nerds on Call, Inc. All rights reserved.
      </p>
      </div>
    </div>
    </div>
</body>
</html>
